#intro {
  margin-top: 0;

  .inner {
    padding-top: ws(x-large);
  }
}


@media (min-width: 750px) {
  #intro {
    .inner {
      padding-top: ws(xx-large);
    }
  }
}

@media (min-width: 1000px) {
  #intro {
    text-align: center;
    margin-top: - ws(xx-large);
    position: relative;
    z-index: 2;

    .inner {
      border-top: ws(xx-large) solid color(light);
      padding-top: ws(xx-large);
    }
  }
}
