#organizers {
  .row:nth-of-type(2) {
    margin-top: ws(xx-large); 
  }

  .inner {
    background: color(yellow);
  }

  svg.back {
    .shape {
      fill: color(light);
    }
  }

  .cta {
    text-align: center;

    .email {
      text-decoration: underline;
    }
  }

  .person {
    text-align: center;

    &:not(:first-of-type) {
      margin-top: ws(xx-large);
    }

    .headshot {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .name {
      margin-top: ws(small);
    }

    .handle {
      font: font(medium);
      color: darken(color(yellow), 25%);
    }

    .bio {
      margin-top: ws(small);
      font: font(medium);
    }
  }  
}

@media (min-width: 750px) {
  #organizers {
    .six.columns  {
      width: 48%;
    }

    .column,
    .columns {
      margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
      margin-left: 0;
    }

    .person {
      margin-top: 0 !important;
    }
  }
}

@media (min-width: 1000px) {
  #organizers {
    .row:nth-of-type(2) {
      margin-top: ws(xx-large); 
    }

    .person {
      .headshot {
        width: 180px;
        height: auto;
      }

      .name {
        margin-top: 0;
      }
    }  
  }
}