#organizers {
  .row:nth-of-type(2) {
    margin-top: ws(xx-large); 
  }

  .person {
    .headshot {
      width: 180px;
      height: auto;
      float: left;
      margin-right: ws(medium);
    }

    .name {
    }

    .handle {
      font: font(medium);
      color: color(grey);
    }

    .bio {
      margin-top: ws(small);
      font: font(medium);
    }
  }  
}