#slack {
  background: color(yellow);

  .inner {
    background: none;
    padding: none !important;
    //text-align: center;
  }

  .seven.columns {
    background: color(yellow);
    padding: ws(x-large) ws(x-small);
    display: block;
  }

  form {
    margin-top: ws(large);

    .error {
      display: inline-block;
      margin-top: ws(small);
    }

    input {
      font: font(default);
      padding: ws(xx-small) ws(x-small);
      outline: none;
      border-radius: 3px;
      border: 2px solid darken(color(yellow), 20%);
      background: none;
      box-shadow: inset 0 0 5px rgba(color(black), 0.1);
      -webkit-appearance: none;
      transition: background 0.1s;

      &:hover,
      &:focus {
        background: rgba(color(black), 0.05);
      }

      &::-webkit-input-placeholder {
        color: rgba(color(black), 0.3);
      }

      &:-moz-placeholder {
        color: rgba(color(black), 0.3); 
      }

      &::-moz-placeholder {
        color: rgba(color(black), 0.3);
      }

      &:-ms-input-placeholder {  
        color: rgba(color(black), 0.3);
      }

      &[type=submit] {
        cursor: pointer;
        background: color(black);
        color: color(yellow);
        border-color: color(black);
        margin-top: ws(medium);
      }
    }
  }
}

@media (min-width: 1000px) {
  #slack {
    background: none;
    position: relative;
    margin-top: - ws(xx-large);
    z-index: 9;
    
    .inner {
      text-align: left;
    }

    .seven.columns {
      padding: ws(medium);
    }

    form {
      margin-top: ws(medium);
      input {
        &[type=submit] {
          margin-top: 0;
        }
      }
    }
  }
}