#testimonials {
  //background: color(yellow);

  .inner {
    background: color(yellow);
    height: 345px;
  }

  blockquote {
    text-align: left;
    position: relative;
    z-index: 2;

    .quote {
      font-style: italic;
    }

    .author {
      margin-top: ws(medium);

      .avatar {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: ws(small);
      }

      .name {
        clear: right;
      }

      .handle {
        font: font(medium);
        color: color(grey);
        clear: right;
        display: block;
      }
    }
  }
}

@media (min-width: 1000px) {
  #testimonials {
    background: none;

    .inner {
      height: 345px;
    }

    blockquote {
      text-align: center;

      .author {
        text-align: left;
        display: inline-block;

        .avatar {
          width: 60px;
          height: 60px;
        }

        .name {
          float: left;
        }
      }
    }
  }
}