#testimonials {
  background: color(yellow);

  .inner {
    background: color(yellow);
    height: 345px;
  }

  blockquote {
    text-align: left;
    position: relative;
    z-index: 2;

    .quote {
      font-style: italic;
    }

    .author {
      margin-top: ws(medium);

      .title {
        font-style: italic;
        color: rgba(color(black), 0.4);
      }
    }
  }
}

@media (min-width: 1000px) {
  #testimonials {
    background: none;

    .inner {
      height: 345px;
    }

    blockquote {
      text-align: center;
    }
  }
}