@import '_lib/bourbon/bourbon';
@import '_lib/reset';
@import '_lib/grid';

@include grid(12, 55px, 24px, true, true);

body {
  font-family: "nimbus-sans-extended", sans-serif;
  background: #FFF;
}

h1, h2 {
  color: #FFF;
  font-size: 48px;
  line-height: 54px;
  font-weight: bold;
  font-family: "museo-slab",serif;
}

h1 strong { color: yellow; }
h2 {
  color: #999;
  font-family: "museo-slab", serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  padding-top: 24px;
}

.subheading-light {
  color: #777;
}

.nav {
  background: #111;
  clear: both;
  text-align: center;
  height: 48px;
  overflow: visible;
}
.nav li {
  display: inline-block;
  margin: 0;
}
.nav li.current a {
  color: #FFE435;
}
.nav a {
  color: #777;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 48px;
  height: 48px;
  width: 160px;
  display: block;
  padding: 0 24px;
  font-family: "nimbus-sans-extended";
}
.nav a:hover {
  color: #999;
}

// SECTIONS //
.header {
  position: relative;
  clear: both;
  overflow: hidden;
  background: #FFE435 url('/img/background.png') center center;
  // background: #222;
  background-size: cover;
}
.header:after {
  content: "";
  background: url('/img/edge-reverse.png') left bottom repeat-x;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  z-index: 999;
}

.next {
  overflow: hidden;
  background: #FFF;
  background-size: cover;
  z-index: 1;
}

.photos {
  background: #191919;
  text-align: left;
  height: 408px;
  overflow: hidden;
  position: relative;
}
.photos-bg {
  height: 408px;
  width: 3672px;
  background: url('/img/photos.jpg');
  position: absolute;
  top: 0;
  left: 0;
}
.photos-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 408px;
  width: 100%;
  overflow: scroll;
  z-index: 99;
  ul {
    width: 6000px;
  }
  li {
    width: 1000px;
    display: block;
    float: left;
    color: #FFF;
    font-family: "museo-slab",serif;
    font-size: 36px;
    height: 408px;
    box-sizing: border-box;
    padding: 160px 0 0 0;
    text-shadow: 0 1px 3px #000;
    span {
      font-family: "nimbus-sans-extended", sans-serif;
      font-size: 14px;
      clear: both;
      display: block;
      margin: 24px 0 0 0;
      text-transform: uppercase;
    }
  }
}

.about {

}

.footer {
  background: #191919;
  color: #FFF;
}

.footer a {
  color: #FFF;
  text-decoration: none;
}

.footer a:hover {
  color: #FFE435;
}

.footer a:active {
  color: #5C5213;
}

.logo {
  width: 625px; height: 595px;
  margin: -225px auto 24px auto;
  display: block;
  background: url('/img/logo-big.png?v=3');
}

.content {
  margin: 0 auto 0 auto;
  width: 820px;
  text-align: center;
  padding: 0;
}

.meetup {
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.meetup a {
  text-decoration: none;
  font-family: "museo-slab",serif;
  text-transform: none;
  font-weight: bold;
  color: #111;
}

.snark {
  font-size: 18px;
  color: #222;
  text-transform: uppercase;
  display: block;
  margin: 0 0 12px 0;
}

.wrapper {
  padding: 120px 0;
  min-width: 820px;
  text-align: center;
}

.button {
  padding: 12px 24px;
  background: #FFE435;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background: #23bf51;
  color: #FFF;
}

.button-signup {
  margin: 24px 0 0 0;
}