/*
Syntax error: Invalid CSS after "  background: ": expected expression (e.g. 1px, bold), was "$111 url('/img/..."
        on line 79 of css/stylesheet.scss

74: // SECTIONS //
75: .header {
76:   position: relative;
77:   clear: both;
78:   overflow: hidden;
79:   background: $111 url('/img/background.png') center center;
80:   background-size: cover;
81:   h2 {
82:     margin: 0;
83:   }
84: }

Backtrace:
css/stylesheet.scss:79
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1136:in `expected'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/script/lexer.rb:199:in `expected!'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/script/parser.rb:471:in `assert_expr'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/script/parser.rb:49:in `parse'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1010:in `sass_script'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:870:in `value!'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:847:in `declaration'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:570:in `block in declaration_or_ruleset'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1110:in `call'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:1110:in `rethrow'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:580:in `declaration_or_ruleset'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:542:in `block_child'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:534:in `block_contents'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:523:in `block'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:517:in `ruleset'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:541:in `block_child'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:534:in `block_contents'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/scss/parser.rb:27:in `parse'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:342:in `_to_tree'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/adapter.rb:162:in `call'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/adapter.rb:162:in `poll_changed_dirs'
/Users/christopherlobay/.rbenv/versions/1.9.3-p194-perf/lib/ruby/gems/1.9.1/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/darwin.rb:28:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  background: \": expected expression (e.g. 1px, bold), was \"$111 url('/img/...\"\A         on line 79 of css/stylesheet.scss\A \A 74: // SECTIONS //\A 75: .header {\A 76:   position: relative;\A 77:   clear: both;\A 78:   overflow: hidden;\A 79:   background: $111 url('/img/background.png') center center;\A 80:   background-size: cover;\A 81:   h2 {\A 82:     margin: 0;\A 83:   }\A 84: }"; }
