@import '_lib/bourbon/bourbon';
@import '_lib/reset';
@import '_lib/grid';
@import '_lib/base';

// @include grid(12, 55px, 24px, true, true);
@include grid-fluid(12, 24px, 924px, true, true);

$yellow: #FFE435;
$blue: #2fd9fd;

body {
  background: #FFF;
  font-size: 14px;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
  color: #FFF;
  font-size: 48px;
  line-height: 54px;
  font-weight: bold;
  font-family: "museo-slab",serif;
  margin: 0 0 32px 0;
}
h1 span { color: $yellow; }
h2 {
  color: #999;
  font-family: "museo-slab", serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

p, li {
  font-size: 14px;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
}
a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav {
  background: #000;
  clear: both;
  text-align: center;
  height: 48px;
  overflow: visible;
}
.nav li {
  display: inline-block;
  margin: 0;
}
.nav li.current a {
  color: $yellow;
}
.nav a {
  color: #777;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 48px;
  height: 48px;
  width: 160px;
  display: block;
  padding: 0 24px;
  font-family: "nimbus-sans-extended";
}
.nav a:hover {
  color: #999;
}

.wrapper {
  padding-left: 30px !important;
  padding-right: 30px !important;
  @include box-sizing(border-box);
}

// SECTIONS //
.header {
  position: relative;
  clear: both;
  overflow: hidden;
  background: #111;
  h2 {
    margin: 0;
  }
  .wrapper {
    padding-top: 280px;
  }
  @include breakpoint(6up) {
    background: #111 url('/img/background.png') center center;
    background-size: cover;
    .wrapper {
      padding-top: 520px;
    }
  }
}

.next {
  overflow: hidden;
  background: $yellow url('/img/yellowbg.png') center center;
  background-size: cover;
  z-index: 1;
  text-align: center;
}

.next-gw {
  background: #2fd9fd;
  @include breakpoint(6up) {
    background: #2fd9fd url('/img/bluebg.png') center center;
  }
}

.photos {
  background: #191919;
  text-align: left;
  height: 408px;
  overflow: hidden;
  position: relative;
}
.photos-bg {
  height: 408px;
  width: 3672px;
  background: url('/img/photos.jpg');
  position: absolute;
  top: 0;
  left: 0;
}
.photos-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 408px;
  width: 100%;
  overflow: scroll;
  z-index: 99;
  ul {
    width: 6000px;
  }
  li {
    width: 1000px;
    display: block;
    float: left;
    color: #FFF;
    font-family: "museo-slab",serif;
    font-size: 36px;
    height: 408px;
    box-sizing: border-box;
    padding: 160px 0 0 0;
    text-shadow: 0 1px 3px #000;
    span {
      font-family: "nimbus-sans-extended", sans-serif;
      font-size: 14px;
      clear: both;
      display: block;
      margin: 24px 0 0 0;
      text-transform: uppercase;
    }
  }
}

.about {
  h1 {
    color: #111;
  }
}

.footer {
  background: #EEE;
  color: #222;
  padding: 24px 0 !important;
  text-align: center;
  @include breakpoint(6up) {
    text-align: left;
  }
}

.footer a, .footer p {
  color: #999;
  text-decoration: none;
}

.footer a {
  text-decoration: underline;
}

.footer p {

}

.footer a:hover {
  color: #777;
}

.footer a:active {
  color: #5C5213;
}

img.sponsor-logo {
  float: left;
  max-width: 100%;
}

.logo {
  width: 625px; height: 595px;
  margin: 0 auto 60px auto;
  display: block;
  background: url('/img/logo-big.png?v=3');
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -312px;
}

.content {
  margin: 0 auto 0 auto;
  width: 820px;
  text-align: center;
  padding: 0;
}

.meetup {
  margin: 0 auto;
  font-size: 24px;
  line-height: 24px;
}

.meetup a {
  text-decoration: none;
  font-family: "museo-slab",serif;
  text-transform: none;
  color: #111;
}
.meetup p > a:hover {
  border-bottom: 2px dashed rgb(216, 193, 42);
  cursor: help;
}

.meetup p, .goodwork p {
  font-size: 30px;
  line-height: 36px;
  font-family: "museo-slab",serif;
  color: #111;
}

.snark {
  font-size: 18px;
  color: #222;
  text-transform: uppercase;
  display: block;
  margin: 0 0 24px 0;
  font-family: "nimbus-sans-extended", sans-serif;
}

.wrapper {
  padding: 120px 0;
  h1, h2, .snark {
    text-align: center;
  }
}

.button {
  padding: 24px 48px;
  border: 3px solid #111;
  border-radius: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.section {
  h1 { color: #111; }
  border-top: 24px solid #EEE;
}

.button:hover {
  background: #FFF;
  color: #111;
  border-color: #FFF;
}

.button-signup {
  margin: 48px 0 0 0;
}

.social-icons {
  text-align: center;
  padding-top: 2em;
  @include breakpoint(6up) {
    padding-top: 0;
    text-align: right;
  }
}

.goodwork-flipper {
  display: block;
  width: 75px;
  height: 75px;
  position: fixed;
  top: 0px;
  right: 0px;
  background: url('/img/goodwork-flipper.png');
  z-index: 999;
  text-indent: -30000px;
  background-size: 75px, 75px;
  @include breakpoint(6up) {
    width: 150px;
    height: 150px;
    background-size: 150px, 150px;
  }
}

.sh-flipper {
  display: block;
  width: 75px;
  height: 75px;
  position: fixed;
  top: 0px;
  right: 0px;
  background: url('/img/sh-flipper.png') no-repeat;
  z-index: 999;
  text-indent: -30000px;
  background-size: 75px, 75px;
  @include breakpoint(6up) {
    width: 150px;
    height: 150px;
    background-size: 150px, 150px;
  }
}

#goodwork {
  h1 span { color: $blue; }
  .logo {
    top: -36px;
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
    margin-left: -150px;
    display: block;
    background: url('/img/goodwork-logo.svg') center center no-repeat;
    @include breakpoint(6up) {
      top: -70px;
      width: 580px;
      height: 580px;
      background-size: 580px 580px;
      margin-left: -290px;
    }
  }
  .next {
    h1 { color: #111; }
  }
  .section {
    h1 { color: #111; }
    li { text-align: center; }
  }
  .project {
    text-align: center;
    @include breakpoint(6up) {
      text-align: left;
      li {
        text-align: left;
      }
    }
    a, a:visited {
      color: darken($blue, 15%);
    }
    h1 {
      margin: 0 0 32px 0;
    }
    h2, li {
      color: #222;
    }
    li {
      list-style: none;
      margin: 0;
      a {
        color: #666;
      }
    }
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      display: block;
      margin: 24px 0 24px 0;
      font-family: "nimbus-sans-extended", sans-serif;
    }
    img {
      max-width: 100%;
      @include box-sizing(border-box);
      padding: 11px;
      border: 1px solid #EEE;
      display: block;
      margin: 24px 0 0 0;
      @include box-shadow(0px 1px 3px rgba(0,0,0,0.05));
      &:first-child {
        margin: 0;
      }
    }
    img + .row {
      margin-top: 24px;
    }
  }
}

iframe {
    padding: 4px;
    background: #FFF;
    @include box-shadow(0px 1px 3px rgba(0,0,0,0.25));
    @include box-sizing(border-box);
  @include breakpoint(6up) {
    padding: 12px;
  }
}

@media only screen and (max-width: 569px) {
  @include grid-fluid(12, 24px, 569px, false, true);
  .wrapper {
    padding: 60px 0;
  }
  #goodwork {
    .project {
      img:first-child {
        margin-top: 24px;
      }
      img + .row img:first-child{
        margin: 0 0 24px 0;
      }
    }
  }
}
