/* Reset
/* http://meyerweb.com/eric/tools/css/reset/
--------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  *zoom: 1;
  margin: 0 auto;
  min-width: 948px; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }

.row {
  *zoom: 1;
  margin: 0 auto;
  width: 948px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.row .row {
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 948px;
  width: auto; }

*[class*="col"] {
  margin: 0 12px;
  float: left; }

*[class*="push"], *[class*="pull"] {
  position: relative; }

.col12 {
  width: 924px; }

.push12 {
  margin-left: 960px; }

.pull12 {
  margin-right: 960px; }

.col11 {
  width: 845px; }

.push11 {
  margin-left: 881px; }

.pull11 {
  margin-right: 881px; }

.col10 {
  width: 766px; }

.push10 {
  margin-left: 802px; }

.pull10 {
  margin-right: 802px; }

.col9 {
  width: 687px; }

.push9 {
  margin-left: 723px; }

.pull9 {
  margin-right: 723px; }

.col8 {
  width: 608px; }

.push8 {
  margin-left: 644px; }

.pull8 {
  margin-right: 644px; }

.col7 {
  width: 529px; }

.push7 {
  margin-left: 565px; }

.pull7 {
  margin-right: 565px; }

.col6 {
  width: 450px; }

.push6 {
  margin-left: 486px; }

.pull6 {
  margin-right: 486px; }

.col5 {
  width: 371px; }

.push5 {
  margin-left: 407px; }

.pull5 {
  margin-right: 407px; }

.col4 {
  width: 292px; }

.push4 {
  margin-left: 328px; }

.pull4 {
  margin-right: 328px; }

.col3 {
  width: 213px; }

.push3 {
  margin-left: 249px; }

.pull3 {
  margin-right: 249px; }

.col2 {
  width: 134px; }

.push2 {
  margin-left: 170px; }

.pull2 {
  margin-right: 170px; }

.col1 {
  width: 55px; }

.push1 {
  margin-left: 91px; }

.pull1 {
  margin-right: 91px; }

body {
  background: #FFF;
  font-size: 14px;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2 {
  color: #FFF;
  font-size: 48px;
  line-height: 54px;
  font-weight: bold;
  font-family: "museo-slab",serif;
  margin: 0 0 24px 0; }

h1 span {
  color: #ffe435; }

h2 {
  color: #999;
  font-family: "museo-slab", serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px; }

p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777; }

a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.nav {
  background: #000;
  clear: both;
  text-align: center;
  height: 48px;
  overflow: visible; }

.nav li {
  display: inline-block;
  margin: 0; }

.nav li.current a {
  color: #ffe435; }

.nav a {
  color: #777;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 48px;
  height: 48px;
  width: 160px;
  display: block;
  padding: 0 24px;
  font-family: "nimbus-sans-extended"; }

.nav a:hover {
  color: #999; }

.header {
  position: relative;
  clear: both;
  overflow: hidden;
  background: #ffe435 url("/img/background.png") center center;
  background-size: cover; }
  .header h2 {
    margin: 0; }

.next {
  overflow: hidden;
  background: #ffe435 url("/img/yellowbg.png") center center;
  background-size: cover;
  z-index: 1;
  text-align: center; }

.photos {
  background: #191919;
  text-align: left;
  height: 408px;
  overflow: hidden;
  position: relative; }

.photos-bg {
  height: 408px;
  width: 3672px;
  background: url("/img/photos.jpg");
  position: absolute;
  top: 0;
  left: 0; }

.photos-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 408px;
  width: 100%;
  overflow: scroll;
  z-index: 99; }
  .photos-content ul {
    width: 6000px; }
  .photos-content li {
    width: 1000px;
    display: block;
    float: left;
    color: #FFF;
    font-family: "museo-slab",serif;
    font-size: 36px;
    height: 408px;
    box-sizing: border-box;
    padding: 160px 0 0 0;
    text-shadow: 0 1px 3px black; }
    .photos-content li span {
      font-family: "nimbus-sans-extended", sans-serif;
      font-size: 14px;
      clear: both;
      display: block;
      margin: 24px 0 0 0;
      text-transform: uppercase; }

.about h1 {
  color: #111; }

.footer {
  background: #EEE;
  color: #222;
  border-top: 24px solid #e0e0e0;
  padding: 60px 0 !important; }

.footer a, .footer p {
  color: #999;
  text-decoration: none; }

.footer a {
  text-decoration: underline; }

.footer a:hover {
  color: #777; }

.footer a:active {
  color: #5C5213; }

.logo {
  width: 625px;
  height: 595px;
  margin: -225px auto 60px auto;
  display: block;
  background: url("/img/logo-big.png?v=3"); }

.content {
  margin: 0 auto 0 auto;
  width: 820px;
  text-align: center;
  padding: 0; }

.meetup {
  margin: 0 auto;
  font-size: 24px;
  line-height: 24px; }

.meetup a {
  text-decoration: none;
  font-family: "museo-slab",serif;
  text-transform: none;
  color: #111; }

.meetup p > a:hover {
  border-bottom: 2px dashed #d8c12a;
  cursor: help; }

.meetup p {
  font-size: 30px;
  line-height: 36px;
  font-family: "museo-slab",serif;
  color: #111; }

.snark {
  font-size: 18px;
  color: #222;
  text-transform: uppercase;
  display: block;
  margin: 0 0 24px 0;
  font-family: "nimbus-sans-extended", sans-serif; }

.wrapper {
  padding: 120px 0;
  min-width: 948px; }
  .wrapper h1, .wrapper h2, .wrapper .snark {
    text-align: center; }

.button {
  padding: 24px 48px;
  border: 3px solid #111111;
  border-radius: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block; }

.button:hover {
  background: #FFF;
  color: #111;
  border-color: #FFF; }

.button-signup {
  margin: 48px 0 0 0; }

.social-icons {
  text-align: right; }

.goodwork-flipper {
  display: block;
  width: 150px;
  height: 150px;
  position: fixed;
  top: 0px;
  right: 0px;
  background: url("/img/goodwork-flipper.png");
  z-index: 999;
  text-indent: -30000px; }
