html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "museo-slab",serif;
  background: #FFF; }

h1, h2 {
  color: #111;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold; }

h1 strong {
  color: yellow; }

h2 {
  color: #5C5213;
  font-family: "museo-slab",serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  padding-top: 18px; }

.nav {
  background: #111;
  clear: both;
  text-align: center;
  height: 48px;
  overflow: visible; }

.nav li {
  display: inline-block;
  margin: 0; }

.nav li.current a {
  color: #FFE435; }

.nav a {
  color: #777;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 48px;
  height: 48px;
  width: 160px;
  display: block;
  padding: 0 24px;
  font-family: "nimbus-sans-extended"; }

.nav a:hover {
  color: #999; }

.header {
  background: #FFF;
  position: relative;
  clear: both;
  overflow: hidden;
  background: #ffe435 url("background.png") center center;
  background-size: cover; }

.header:after {
  content: "";
  background: url("edge-reverse.png") left bottom repeat-x;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px; }

.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto 24px auto;
  display: block;
  background: url("logo-min.png?v=2"); }

.content {
  margin: 0 auto 0 auto;
  width: 820px;
  text-align: center;
  padding: 0; }

.meetup {
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  font-family: "nimbus-sans-extended";
  text-transform: uppercase; }

.meetup a {
  text-decoration: none;
  font-family: "museo-slab",serif;
  text-transform: none;
  font-weight: bold;
  color: #111; }

.snark {
  font-size: 14px;
  color: #5C5213;
  text-transform: uppercase;
  font-family: "nimbus-sans-extended";
  display: block;
  margin: 0 0 12px 0; }

.wrapper {
  padding: 96px 0;
  min-width: 820px; }

.button {
  padding: 12px 24px;
  background: #FFE435;
  border-radius: 3px;
  font-family: "nimbus-sans-extended";
  font-size: 14px;
  font-weight: bold;
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block; }

.button-signup {
  margin: 24px 0 0 0; }
