#main-footer {
  .inner {
    text-align: center;
    background: none;
    font: font(small);
    color: color(grey);
    padding-top: ws(xx-large);
  }

  ul.social {
    list-style: none;
    text-align: center;
    margin-bottom: ws(medium);

    li {
      display: inline-block;
      text-align: left;
      color: color(black);
      font: font(medium) !important;

      &:not(:first-of-type) {
        margin-left: ws(small);
      }
    }
  }

  .sponsor {
    margin-top: ws(small);
  }

  .designer {
    margin-top: ws(small);
  }
}

@media (min-width: 1000px) {
  #main-footer {
    ul.social {
      li {
        &:not(:first-of-type) {
          margin-left: ws(medium);
        }
      }
    }

    .sponsor {
      margin-top: 0;
    }
  } 
}