    <footer id="main-footer" class="sec">
      <div class="inner">
        <div class="row">
          <div class="eight columns center">
            <ul class="social">
              <li><a href="https://twitter.com/SHWPG" title="Secret Handshake on Twitter">Twitter</a></li>
              <li><a href="https://www.facebook.com/secret.handshake.winnipeg" title="Secret Handshake on Facebook">Facebook</a></li>
            </ul>
            <div class="copyright">Copyright &copy; 2015 Secret Handshake. All rights reserved.</div>
            <div class="sponsor">Secret Handshake is graciously supported by <a href="https://newmediamanitoba.com" title="New Media Manitoba">New Media Manitoba.</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/libs/jquery.min.js"></script>

    <script src="js/bundle.js"></script>
  </body>
</html>