    <footer id="main-footer" class="sec">
      <div class="inner">
        <div class="row">
          <div class="seven columns center">
            <div class="copyright">Copyright &copy; 2013 Secret Handshake. All rights reserved.</div>
            <div class="sponsor"><br>Secret Handshake is graciously supported by New Media Manitoba.</div>
        </div>
      </div>
    </footer>
    <script src="js/libs/jquery.min.js"></script>

    <script src="js/bundle.js"></script>
  </body>
</html>