{{> header title='404 - Page not found'}}

<section id="not-found" class="sec">
  <div class="inner">
    <a href="/">
      <h1>404</h1>
      <div class="seven columns cat"></div>
    </a>
  </div>
</section>

{{> footer}}