{{> header title='home'}}

<main id="wrapper">
  <section id="hero">
    <div class="inner">
      <div class="nine columns offset-by-one">
        <h1>Secret Handshake</h1>
      </div>
      <div class="three columns offset-by-nine"><img src="images/logo-dark.svg"></div>
    </div>
  </section>

  <section id="intro" class="sec">
    <div class="inner">
      <div class="row">
        <div class="eight columns center">Secret Handshake is a monthly gathering of creative people.<br>Join us for new friendships and good conversation.</div>
      </div>
    </div>
  </section>

  <section id="photos" class="sec">
    <div class="inner">
      <div class="row">
        <h3>Photos</h3>
      </div>
    </div>
  </section>

  <section id="testimonials" class="sec">
    <div class="inner">
      <div class="row">
        <h3>Testimonials</h3>
        <div class="eight columns center">
          <blockquote>
            <div class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ipsum justo, eget condimentum nulla mollis sagittis.</div>
            <div class="author">Johnny Depp</div>
          </blockquote>
        </div>
      </div>
    </div>
  </section>

  <section id="next-meetup" class="sec">
    <div class="inner">
      <div class="row">
        <h3>The Next meetup</h3>
      </div>
    </div>
  </section>

  <section id="email-signup">
    <div class="inner">
      <div class="seven columns offset-by-four">
        <h2>Email Newsletter</h2>
        <div>Sign-up for exclusive offerings and shit.</div>
        <form>
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </section>
</main>

{{> footer}}