{{> header title='home'}}


<section id="hero">
  <div class="inner">
    <div class="nine columns offset-by-one">
      <h1>Secret Handshake</h1>
    </div>
    <div class="three columns offset-by-nine"><img src="images/logo-dark.svg"></div>
  </div>
</section>

<section id="intro" class="sec">
  <div class="inner">
    <div class="row">
      <div class="eight columns center">Secret Handshake is a monthly gathering of creative people.<br>Join us for new friendships and good conversation.</div>
    </div>
  </div>
</section>

<section id="organizers" class="sec">
  <div class="inner">
    <h2 class="section-title">Organizers</h2>
    <div class="row">
      <div class="six columns person">
        <img src="images/ben.jpg" class="headshot">
        <div class="about">
          <div class="name">Ben Rogers</div>
          <div class="title">Web Designer</div>
          <div class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean arcu mauris.</div>
        </div>
      </div>
      <div class="six columns person">
        <img src="images/robyn.jpg" class="headshot">
        <div class="name">Robyn Shesterniak</div>
        <div class="title">Web Designer</div>
        <div class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean arcu mauris.</div>
      </div>
    </div>
    <div class="row">
      <div class="six columns person">
        <img src="images/melody.jpg" class="headshot">
        <div class="name">Melody Morrissette</div>
        <div class="title">Web Designer</div>
        <div class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean arcu mauris.</div>
      </div>
      <div class="six columns person">
        <img src="images/brad.jpg" class="headshot">
        <div class="name">Brad Cerasani</div>
        <div class="title">Web Designer</div>
        <div class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean arcu mauris.</div>
      </div>
    </div>
  </div>
</section>

<section id="photos" class="sec">
  <div class="inner">
    <h2 class="section-title">Photos</h2>
    <div class="row">
      <img src="images/meetup-shot-1.jpg">
    </div>
  </div>
</section>

<section id="testimonials" class="sec">
  <div class="inner">
    <h2 class="section-title">Testimonials</h2>
    <div class="row">
      <div class="eight columns center">
        <blockquote>
          <div class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ipsum justo, eget condimentum nulla mollis sagittis."</div>
          <div class="author">Johnny Depp, <span class="title">Web Designer</span></div>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section id="next-meetup" class="sec">
  <div class="inner">
    <h2 class="section-title">The Next meetup</h2>
    <div class="row">
      <div class="eight columns center meetup">
        <h3>Secret Handshake #62</h3>
        <div class="date">5:30 PM – Thursday, August 20th, 2015</div>
        <div class="location">The Good Will - Social Club, 625 Portage</div>
        <a href="#" class="sign-up btn btn-chevron">Sign up now</a>
      </div>
    </div>
  </div>
</section>

<section id="email-signup">
  <div class="inner">
    <div class="seven columns offset-by-four">
      <h3>Email Newsletter</h3>
      <div>Sign-up for exclusive offerings and shit.</div>
      <form>
        <input type="text" placeholder="Name" class="five columns">
        <input type="email" placeholder="Email" class="five columns">
        <input type="submit" value="&rarr;" class="two columns">

        <!-- div class="error">Please enter your email.</div -->
      </form>
    </div>
  </div>
</section>

{{> footer}}